.main {
  background-color: white;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.form {
  /* position: sticky; */
  width: 30%;
  height: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  min-height: 100vh;
}
